.module-3-column-cta {
	text-align:center;
	.featured-img {
		margin-bottom: 20px;
	}
	.column_title {
		font-family: Rubik, Arial;
	    font-size: 24px;
	    font-weight: bold;
	    margin-bottom: 20px;
	}
	.learn_more {
		display: block;
	    width: 150px;
	    color: #FFF !important;
	    font-family: Rubik, Arial;
	    font-weight: bold;
	    font-size: 19px;
	    background-color: #70ab54;
	    text-align: center;
	    padding: 12px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    margin: 0px auto 20px;
	}
}