.module-content-with-video {
  .left-content {
    text-align: center;
    h3 {
      font-family: Rubik, Arial;
      font-weight: 500;
      font-size: 32px;
    }
    p {
      font-family: Montserrat, Arial;
      font-weight: 400;
      margin-top: 12px;
    }
  }
}